### <b> Course: Machine Learning for Absolute Beginners - Level 2
#### By: Idan Gabrieli
####  Exercise #3 â€“ Data Loading and Analysis
*****************************

### Step 1 - Loading a Tabular Data File

Make sure the "titanic.csv" file (provided as part of this excercise) is located in the JupyterLab working directory. <br> Read the "titanic.csv" file dataset into a dataframe called df. Print the first 5 rows in df.

Read again the "titanic.csv" file dataset into a dataframe called df but without the following columns: "SibSp", "Parch" and "Ticket". Print the first 5 rows in df.

Print the data type of each column by using the dtypes attribute.

Read again the "titanic.csv" file dataset into a dataframe called df but without the following columns: "SibSp", "Parch" and "Ticket" and also convert the column "Survived" into a boolean data type. Print the first 5 rows in df.

Print the data type of each column by using the dtypes attribute. The "Survived" should be boolean data type.

### Step 2 - Preview the DataFrame

Print the two index components of the df dataframe: index, columns.

Print the size of the dataframe using the shape attribute. We have 891 rows and 9 columns.

Print the amount of rows per each column without missing values.

Print the unique values for the "Sex" column.

Print the unique values for the "Embarked" column.

Print the amount of unique values for the "Embarked" column.

Print the number of rows with the same specific value in the "Embarked" column.

How many passengers survived?

What is the survival percentage?

### Step 3 - Using Summary Statistics

What is the maximum age of the titanic passengers?

What is the average age and average ticket price?

How many passengers survived? (using the sum method).

Print a full statistical summary using the describe method. What is the agev value that 25% of passengers are smaller then this age? (should be 20.123).

### Step 4 - Sorting and Ranking

Sort all rows in the dataframe using the 'Age' column is descending order and print the first 5 rows.

Sort all rows in the dataframe using the 'Age' column is descending order and save it in the same dataframe. Print the first 5 rows.

Sort the data based on male and female groups (female group is first) and inside of each group, sort the rows by age in ascending order. Present just the following columns 'Sex', 'Name', 'Age'.

Print the row in location 2 using the iloc method.

Drop the missing values and then sort the data based on male and female groups (female group is first) and inside of each group, sort the rows by age in ascending order. Present just the following columns 'Sex', 'Name', 'Age'.

What are the five oldest passengers that paid a ticket that cost more than the average ticket price? (create a boolean condition and than use it to filter the dataframe and than use the nlargest.

### Step 5 - Filtering

Filter and keep only the male passengers.

Filer out all passengers below the age of 40 and that are also 'male'. Print the ten first results.

### Step 6 - Grouping and Aggregating

What is the average ticket price for male versus female passengers?

What is the average age for the survived group?

How many survived group by the embarked port?

What is the average age as well as the average price for male and female?

### End of document
************************