### <b> Course: Machine Learning for Absolute Beginners - Level 2
#### By: Idan Gabrieli
####  Exercise #2 â€“ Pandas Series and DataFrame
*****************************

### Step 1 - Series Data Structure (1D)

Create a series data structure called s1 with the following values [10,20,30,40,50,60] and then print it.

Print the left column which is the index.

Print the type of the second column which is the actual data.

Print the values in index location 3.

Create a series data structure called s2 with the following values [10,20,30,40,50,60] and with index ['a', 'b', 'c', 'd', 'e', 'f'] then print it.

Print the value in row with the index label 'e'.

Change the value of row with the index label 'e' into 51.

Print all rows between labels 'b' and 'e' using the slice notation.

Print all rows between labels 'b' until the end using the slice notation.

Add the number 3 to all rows in s2 without using a for-loop.

Check if the value 54 is in s2 without using a for-loop.

Check which values in s2 are greater than 30.

Print the values in s2 that are greater than 30.

print all values in s2 that are greater than the mean value.

### Step 2 - DataFrame Data Structure (2D)

Create a dictionary called dic1 with the following data: {'Name':[ 'David', 'John', 'Marta', 'Dianna'], 'Age':[41,19,33,24],'Weight':[85,76,67,56]} and then create create a dataframe called df from dic1. Print df dataframe.

Print the rows index attribute of df dataframe.

Print the columns attribute of df dataframe.

Print the values attribute of df dataframe.

Bonus step - can you change the rows index attribute to the following labels: 'R1', 'R2', 'R3', 'R4' and print the df dataframe? (tip - create a list with those new labels and then copy the list into the relevant dataframe attribute).

### Step 3 - Data Selection in a DataFrame

Create a dictionary called dic1 with the following data: {'Name':[ 'David', 'John', 'Marta', 'Dianna'], 'Age':[41,19,33,24],'Weight':[85,76,67,56]} and then create create a dataframe called df from dic1 with the following rows index ['a','b','c','d']. Print the dataframe.

Print the 'Name' column using the dot notation.

Print the 'Name' and 'Age' columns using square brackets.

Print the type of object returned by selecting the 'Name' column using square brackets.

Print the type of object returned by selecting the 'Name' and 'Age' columns using square brackets.

Print the rows starting in index location 0 and ending in index location 2.

Print all rows with columns 'Name' and 'Age' while using the loc method.

Print rows  with labels 'a' and 'd' with columns 'Name' and 'Age' while using the loc method.

Print the row in index location 2 using the iloc method.

Print the rows in index location 1,2 and 3 using the iloc method.

Print the rows in index location 1,2 and 3 and columns in index locations 0 to 1 using the iloc method.

### End of document
************************